<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giri Social Media</title>
  <link rel="stylesheet" href="/static/giricss.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-color:  #69ded4">
<h2><i>{{mesg}}</i></h2>
<img src="/static/Giri.jpg" style="width: 200px;height: 200px"/>
<div class="social-menu">
  <ul>
    <li><a href="https://www.facebook.com/giri.rangasamy"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/Girivel124"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/always__be__smile/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://www.linkedin.com/in/girivel-r-671098189/"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
<p style="text-align:center;margin-top:60%">Email:girivelr124@gmail.com</p>
<p style="text-align:center">Phone no:8870421235</p>
</body>
</html>

